.select-container {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  height: 400px;
  border: 25px solid rgb(255, 255, 255);
  padding: 0px !important;
  border-radius: 10px;
}
.select-header {
  padding: 10px;
  background-color: #36e1b2;
  color: white;
  border-radius: 5px;
}
.select-header-text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 0px;
  font-weight: 400;
  padding: 20px 20px 20px 20px;
}
.selection-search {
  position: relative;
  margin: auto;
  top: 20px;
  width: 90%;
  border-bottom: 2px solid rgb(211, 211, 211);
}
.search-logo {
  margin-left: 20px;
  color: rgb(211, 211, 211);
}
.quiz-search {
  position: relative;
  background: none;
  border: none;
  margin: 0px 0px 5px 10px;
  bottom: 5px;
  color: rgb(211, 211, 211);
  font-size: 20px;
}

.selections {
  position: relative;
  margin: auto;
  top: 40px;
  width: 90%;
}
.selection {
  padding: 15px 15px 15px 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid white;
}
.selection:nth-of-type(odd) {
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(233, 233, 233) !important;
}
.selection:hover {
  border: 2px solid #36e1b2;
}
.selection:nth-of-type(odd):hover {
  border: 2px solid #36e1b2 !important;
}
