<app-navbar></app-navbar>
<mat-card class="quiz-container">
  <div class="question-container">
    <div *ngFor="let item of questions; let i = index" class="question">

      <div [class]="getClass(i)">Question {{i + 1}}: {{ item[i] }}</div>

      <mat-radio-group [(ngModel)]="answers[i]" (ngModelChange)="calculateAnswered()">

        <div *ngFor="let answer of item.answers; let num = index" class="answer">
          <mat-radio-button [disabled]="isDisabled()" [value]="answer['a' + num]" class="answer-radio">
            {{answer['a'+num]}}
          </mat-radio-button>

        </div>
      </mat-radio-group>

    </div>

  </div>
</mat-card>

<mat-card class="utility-screen">
  <mat-icon (click)="toggleUtilCard()" class="menu-logo">menu</mat-icon>
  <div class="utility-title">{{quizTitle}}</div>
  <div *ngIf="utilToggle" class="info-box">

    <div *ngIf="!submited" class="questions-answered">{{questionsCompleted + "/10"}}</div>
    <div *ngIf="!submited" class="subtext">Questions Answered</div>

    <div *ngIf="submited" [appColorGrading]="score" class="questions-answered">{{score}}</div>
    <div *ngIf="submited" [appColorGrading]="score" class="subtext">Quiz Score</div>

    <div *ngIf="!submited" class="buttons-container">
      <button [routerLink]="['/select']" class="cancel-button quiz-button">Cancel</button>
      <button (click)="submit()" class="submit-button quiz-button">Submit</button>
    </div>

    <div *ngIf="submited" class="buttons-container">
      <button class="cancel-button quiz-button" [routerLink]="['/select']">Quizzes</button>
      <button [routerLink]="['/scores']" class="submit-button quiz-button">Past Scores</button>
    </div>

  </div>

</mat-card>