.quiz-container {
  width: 60%;
  margin: auto;
  position: relative;
  top: 30px;
}
.question-container {
  padding: 20px;
}
.question {
  padding: 20px;
}
.question-text {
  padding: 20px;
  border-radius: 3px;
  background-color: #7640b3;
  color: white;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.answer-radio {
  padding: 8px;
  margin-left: 30px;
}
.utility-screen {
  position: fixed;
  background-color: #7640b3;
  bottom: 0px;

  right: 20px;
  z-index: 100;
  width: 300px;
  border-radius: 15px 15px 0px 0px;
  padding: 0px !important;
}
.utility-title {
  display: inline-block;
  text-align: left;
  color: white;
  width: 70%;
  height: 40px;
  padding-top: 15px;
}
.menu-logo {
  display: inline-block;
  color: white;
  width: 30%;
  vertical-align: top;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}
.info-box {
  width: 100%;
  background-color: white;
  height: 200px;
}

.questions-answered {
  width: 100%;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}
.subtext {
  width: 100%;
  text-align: center;
}

.buttons-container {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
.quiz-button {
  padding: 10px;
  width: 40%;
  background-color: white;
  border: 2px solid gray;
  margin-left: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.correct {
  background-color: #32c432 !important;
}
.incorrect {
  background-color: #ca311d !important;
}
